USE [master]
GO
/****** Object:  Database [ACCDB]    Script Date: 06/03/2012 18:09:02 ******/
CREATE DATABASE [ACCDB] ON  PRIMARY 
( NAME = N'ACCDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ACCDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ACCDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ACCDB_1.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACCDB]
GO
/****** Object:  Table [dbo].[ACCOUNT_TYPE]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT_TYPE](
	[ACC_TYPE_ID] [bigint] IDENTITY(100,1) NOT NULL,
	[ACC_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ACCOUNT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ACC_TYPE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT_TYPE] ON
INSERT [dbo].[ACCOUNT_TYPE] ([ACC_TYPE_ID], [ACC_NAME]) VALUES (100, N'ASSET')
INSERT [dbo].[ACCOUNT_TYPE] ([ACC_TYPE_ID], [ACC_NAME]) VALUES (101, N'LIABILITY')
INSERT [dbo].[ACCOUNT_TYPE] ([ACC_TYPE_ID], [ACC_NAME]) VALUES (102, N'OWNERS EQUITY')
SET IDENTITY_INSERT [dbo].[ACCOUNT_TYPE] OFF
/****** Object:  Table [dbo].[USER_GROUP]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_GROUP](
	[GROUP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_USER_GROUP] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[USER_GROUP] ON
INSERT [dbo].[USER_GROUP] ([GROUP_ID], [GROUP_NAME]) VALUES (1, N'Super Admin')
SET IDENTITY_INSERT [dbo].[USER_GROUP] OFF
/****** Object:  Table [dbo].[DEPRICIATION]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPRICIATION](
	[DEP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [bigint] NOT NULL,
	[ORIGINAL_COST] [decimal](18, 2) NULL,
	[DEP_VALUE] [decimal](18, 2) NULL,
	[NEW_ORIGINAL_COST] [decimal](18, 2) NULL,
	[ACCESS_BY] [varchar](50) NULL,
	[ACCESS_DATE] [date] NULL,
	[JOURNAL_ID] [varchar](50) NULL,
 CONSTRAINT [PK_DEPRICIATION] PRIMARY KEY CLUSTERED 
(
	[DEP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DEPRICIATION] ON
INSERT [dbo].[DEPRICIATION] ([DEP_ID], [ACCOUNT_ID], [ORIGINAL_COST], [DEP_VALUE], [NEW_ORIGINAL_COST], [ACCESS_BY], [ACCESS_DATE], [JOURNAL_ID]) VALUES (1, 274, CAST(130100.00 AS Decimal(18, 2)), CAST(13010.00 AS Decimal(18, 2)), CAST(117090.00 AS Decimal(18, 2)), N'Amin', CAST(0x23350B00 AS Date), N'JV000073')
INSERT [dbo].[DEPRICIATION] ([DEP_ID], [ACCOUNT_ID], [ORIGINAL_COST], [DEP_VALUE], [NEW_ORIGINAL_COST], [ACCESS_BY], [ACCESS_DATE], [JOURNAL_ID]) VALUES (2, 270, CAST(424500.00 AS Decimal(18, 2)), CAST(106125.00 AS Decimal(18, 2)), CAST(318375.00 AS Decimal(18, 2)), N'Amin', CAST(0x23350B00 AS Date), N'JV000073')
INSERT [dbo].[DEPRICIATION] ([DEP_ID], [ACCOUNT_ID], [ORIGINAL_COST], [DEP_VALUE], [NEW_ORIGINAL_COST], [ACCESS_BY], [ACCESS_DATE], [JOURNAL_ID]) VALUES (3, 283, CAST(99250.00 AS Decimal(18, 2)), CAST(9925.00 AS Decimal(18, 2)), CAST(89325.00 AS Decimal(18, 2)), N'Amin', CAST(0x23350B00 AS Date), N'JV000073')
SET IDENTITY_INSERT [dbo].[DEPRICIATION] OFF
/****** Object:  Table [dbo].[FISCAL_YEAR]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FISCAL_YEAR](
	[F_YEAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[F_YEAR_NAME] [varchar](50) NULL,
	[F_YEAR_START_DATE] [date] NOT NULL,
	[F_YEAR_END_DATE] [date] NOT NULL,
	[F_YEAR_STATUS] [varchar](50) NOT NULL,
	[ACCESS_BY] [varchar](50) NULL,
	[ACCESS_DATE] [datetime] NULL,
 CONSTRAINT [PK_FISCAL_YEAR] PRIMARY KEY CLUSTERED 
(
	[F_YEAR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FISCAL_YEAR] ON
INSERT [dbo].[FISCAL_YEAR] ([F_YEAR_ID], [F_YEAR_NAME], [F_YEAR_START_DATE], [F_YEAR_END_DATE], [F_YEAR_STATUS], [ACCESS_BY], [ACCESS_DATE]) VALUES (1, N'IECL First Year', CAST(0x6E340B00 AS Date), CAST(0x25350B00 AS Date), N'Inactive', N'AMIN', CAST(0x00009FCB010F11BA AS DateTime))
INSERT [dbo].[FISCAL_YEAR] ([F_YEAR_ID], [F_YEAR_NAME], [F_YEAR_START_DATE], [F_YEAR_END_DATE], [F_YEAR_STATUS], [ACCESS_BY], [ACCESS_DATE]) VALUES (2, N'IECL Second Year', CAST(0x26350B00 AS Date), CAST(0x93360B00 AS Date), N'Active', N'AMIN', CAST(0x00009FCB010F34D2 AS DateTime))
SET IDENTITY_INSERT [dbo].[FISCAL_YEAR] OFF
/****** Object:  Table [dbo].[COMPANY_SETUP]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANY_SETUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_NAME] [varchar](100) NULL,
	[ADDRESS] [varchar](250) NULL,
	[PHONE] [varchar](50) NULL,
	[FAX] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[WEBSITE] [varchar](100) NULL,
	[LOGO] [varbinary](max) NULL,
	[PROP_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_COMPANY_SETUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COMPANY_SETUP] ON
SET IDENTITY_INSERT [dbo].[COMPANY_SETUP] OFF
/****** Object:  Table [dbo].[CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHART_ACCOUNT](
	[CHART_ACC_ID] [bigint] IDENTITY(200,1) NOT NULL,
	[CHART_ACC_CODE] [varchar](50) NULL,
	[CHART_ACC_PARENT_ID] [bigint] NULL,
	[CHART_ACC_PARENT_TYPE] [varchar](50) NULL,
	[CHART_ACC_NAME] [varchar](50) NULL,
	[CHART_ACC_OPENING_BALANCE_DR] [decimal](18, 2) NULL,
	[CHART_ACC_OPENING_BALANCE_CR] [decimal](18, 2) NULL,
	[CHART_ACC_HEADER] [varchar](10) NULL,
	[CHART_ACC_STATUS] [varchar](10) NULL,
	[CHART_ACC_CREATION_DATE] [date] NULL,
	[ACCESS_BY] [varchar](50) NULL,
	[ACCESS_DATE] [date] NULL,
 CONSTRAINT [PK_CHART_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[CHART_ACC_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHART_ACCOUNT] ON
INSERT [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID], [CHART_ACC_CODE], [CHART_ACC_PARENT_ID], [CHART_ACC_PARENT_TYPE], [CHART_ACC_NAME], [CHART_ACC_OPENING_BALANCE_DR], [CHART_ACC_OPENING_BALANCE_CR], [CHART_ACC_HEADER], [CHART_ACC_STATUS], [CHART_ACC_CREATION_DATE], [ACCESS_BY], [ACCESS_DATE]) VALUES (262, N'A1000', 100, N'ASSET', N'CURRENT ASSETS', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Yes', N'Active', CAST(0x61350B00 AS Date), NULL, CAST(0x61350B00 AS Date))
INSERT [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID], [CHART_ACC_CODE], [CHART_ACC_PARENT_ID], [CHART_ACC_PARENT_TYPE], [CHART_ACC_NAME], [CHART_ACC_OPENING_BALANCE_DR], [CHART_ACC_OPENING_BALANCE_CR], [CHART_ACC_HEADER], [CHART_ACC_STATUS], [CHART_ACC_CREATION_DATE], [ACCESS_BY], [ACCESS_DATE]) VALUES (263, N'A1100', 262, N'ASSET', N'Cash in Hand', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'No', N'Active', CAST(0x61350B00 AS Date), NULL, CAST(0x61350B00 AS Date))
INSERT [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID], [CHART_ACC_CODE], [CHART_ACC_PARENT_ID], [CHART_ACC_PARENT_TYPE], [CHART_ACC_NAME], [CHART_ACC_OPENING_BALANCE_DR], [CHART_ACC_OPENING_BALANCE_CR], [CHART_ACC_HEADER], [CHART_ACC_STATUS], [CHART_ACC_CREATION_DATE], [ACCESS_BY], [ACCESS_DATE]) VALUES (264, N'E1000', 104, N'EXPENSE', N'Staff Salary', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Yes', N'Active', CAST(0x61350B00 AS Date), NULL, CAST(0x61350B00 AS Date))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[CHART_ACCOUNT] OFF
/****** Object:  Table [dbo].[MEMBER_INFO]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MEMBER_NO] [varchar](50) NULL,
	[NO_OF_SHARE] [varchar](50) NULL,
	[MEMBER_FULL_NAME] [varchar](100) NULL,
	[FATHER_NAME] [varchar](100) NULL,
	[MOTHER_NAME] [varchar](100) NULL,
	[HUSBAND_NAME] [varchar](100) NULL,
	[PRESENT_ADDRESS] [varchar](250) NULL,
	[PERMANENT_ADDRESS] [varchar](250) NULL,
	[MOBILE_NO] [int] NULL,
	[EDUCATION_STATUS] [varchar](200) NULL,
	[MEMBER_BIRTH_DATE] [date] NULL,
	[RELIGION] [varchar](50) NULL,
	[MEMBER_OCCUPATION] [varchar](100) NULL,
	[MARITAL_STATUS] [varchar](50) NULL,
	[NATIONALITY] [varchar](50) NULL,
	[NOMINEE_NAME] [varchar](100) NULL,
	[NOMINEE_BIRTH_DATE] [date] NULL,
	[NOMINEE_OCCUPATION] [varchar](100) NULL,
	[RELATION_WITH_NOMINEE] [varchar](100) NULL,
	[MEMBER_PHOTO] [varbinary](max) NULL,
	[DIGITAL_SIGNATURE] [varbinary](max) NULL,
	[NOMINEE_PHOTO] [varbinary](max) NULL,
	[ACCESS_BY] [varchar](50) NULL,
	[ACCESS_DATE] [date] NULL,
 CONSTRAINT [PK_MEMBER_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMBER_ASSIGN]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER_ASSIGN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MEMBER_ID] [bigint] NULL,
	[MEMBER_PARENT_ACC_ID] [bigint] NULL,
	[ACC_ID] [bigint] NULL,
 CONSTRAINT [PK_MEMBER_ASSIGN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER_ACC_TYPE]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMBER_ACC_TYPE](
	[TABLE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MEMBER_ACCOUNT_TYPE_ID] [bigint] NOT NULL,
	[ACCOUNT_PREFIX] [varchar](50) NULL,
 CONSTRAINT [PK_MEMBER_ACC_TYPE] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOURNAL_VOUCHAR]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOURNAL_VOUCHAR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JV_ID] [varchar](50) NOT NULL,
	[JV_ACCOUNT_ID] [bigint] NOT NULL,
	[JV_ACCOUNT_NAME] [varchar](50) NULL,
	[JV_ACCOUNT_CODE] [varchar](50) NULL,
	[JV_DEBIT_AMOUNT] [decimal](18, 2) NULL,
	[JV_CREDIT_AMOUNT] [decimal](18, 2) NULL,
	[JV_NOTES] [varchar](250) NULL,
	[JV_DATE] [date] NULL,
	[JV_CHEQUE_NO] [varchar](50) NULL,
	[JV_CHEQUE_DATE] [date] NULL,
	[JV_BANK_REMARK] [varchar](100) NULL,
	[JV_ACCESS_BY] [varchar](50) NULL,
	[JV_ACCESS_DATE] [date] NULL,
 CONSTRAINT [PK_JOURNAL_VOUCHAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[JOURNAL_VOUCHAR] ON
INSERT [dbo].[JOURNAL_VOUCHAR] ([ID], [JV_ID], [JV_ACCOUNT_ID], [JV_ACCOUNT_NAME], [JV_ACCOUNT_CODE], [JV_DEBIT_AMOUNT], [JV_CREDIT_AMOUNT], [JV_NOTES], [JV_DATE], [JV_CHEQUE_NO], [JV_CHEQUE_DATE], [JV_BANK_REMARK], [JV_ACCESS_BY], [JV_ACCESS_DATE]) VALUES (1, N'JV000001', 263, N'Cash in Hand', N'A1100', CAST(200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Loan Receive in Cash', CAST(0xAD340B00 AS Date), NULL, NULL, NULL, N'', CAST(0xAD340B00 AS Date))
INSERT [dbo].[JOURNAL_VOUCHAR] ([ID], [JV_ID], [JV_ACCOUNT_ID], [JV_ACCOUNT_NAME], [JV_ACCOUNT_CODE], [JV_DEBIT_AMOUNT], [JV_CREDIT_AMOUNT], [JV_NOTES], [JV_DATE], [JV_CHEQUE_NO], [JV_CHEQUE_DATE], [JV_BANK_REMARK], [JV_ACCESS_BY], [JV_ACCESS_DATE]) VALUES (2, N'JV000001', 349, N'Bright Powertech Ltd.', N'L2100', CAST(0.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), N'Loan Receive in Cash', CAST(0xAD340B00 AS Date), NULL, NULL, N'Cash Deposit', N'', CAST(0xAD340B00 AS Date))
INSERT [dbo].[JOURNAL_VOUCHAR] ([ID], [JV_ID], [JV_ACCOUNT_ID], [JV_ACCOUNT_NAME], [JV_ACCOUNT_CODE], [JV_DEBIT_AMOUNT], [JV_CREDIT_AMOUNT], [JV_NOTES], [JV_DATE], [JV_CHEQUE_NO], [JV_CHEQUE_DATE], [JV_BANK_REMARK], [JV_ACCESS_BY], [JV_ACCESS_DATE]) VALUES (3, N'JV000002', 263, N'Cash in Hand', N'A1100', CAST(70000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Cash Receive as Paid up Capital', CAST(0xB9340B00 AS Date), NULL, NULL, NULL, N'', CAST(0xB9340B00 AS Date))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[JOURNAL_VOUCHAR] OFF
/****** Object:  Table [dbo].[INCOME_SHEET_CONFIGURE]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCOME_SHEET_CONFIGURE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCID] [bigint] NULL,
 CONSTRAINT [PK_INCOME_SHEET_CONFIGURE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[INCOME_SHEET_CONFIGURE] ON
INSERT [dbo].[INCOME_SHEET_CONFIGURE] ([ID], [ACCID]) VALUES (1, 313)
INSERT [dbo].[INCOME_SHEET_CONFIGURE] ([ID], [ACCID]) VALUES (2, 339)
INSERT [dbo].[INCOME_SHEET_CONFIGURE] ([ID], [ACCID]) VALUES (3, 334)
SET IDENTITY_INSERT [dbo].[INCOME_SHEET_CONFIGURE] OFF
/****** Object:  Table [dbo].[BALANCE_SHEET_CONFIGURE]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BALANCE_SHEET_CONFIGURE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCID] [bigint] NULL,
 CONSTRAINT [PK_BALANCE_SHEET_CONFIGURE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BALANCE_SHEET_CONFIGURE] ON
INSERT [dbo].[BALANCE_SHEET_CONFIGURE] ([ID], [ACCID]) VALUES (1, 297)
INSERT [dbo].[BALANCE_SHEET_CONFIGURE] ([ID], [ACCID]) VALUES (2, 298)
INSERT [dbo].[BALANCE_SHEET_CONFIGURE] ([ID], [ACCID]) VALUES (3, 299)
SET IDENTITY_INSERT [dbo].[BALANCE_SHEET_CONFIGURE] OFF
/****** Object:  Table [dbo].[DEPRICIATION_SETUP]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPRICIATION_SETUP](
	[DEP_SET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [bigint] NOT NULL,
	[DEP_PERCENTAGE] [decimal](18, 2) NULL,
	[DEBIT_ACC_ID] [bigint] NULL,
	[CREDIT_ACC_ID] [bigint] NULL,
	[ACCESS_BY] [varchar](50) NULL,
	[ACCESS_DATE] [date] NULL,
 CONSTRAINT [PK_DEPRICIATION_SETUP] PRIMARY KEY CLUSTERED 
(
	[DEP_SET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DEPRICIATION_SETUP] ON
INSERT [dbo].[DEPRICIATION_SETUP] ([DEP_SET_ID], [ACCOUNT_ID], [DEP_PERCENTAGE], [DEBIT_ACC_ID], [CREDIT_ACC_ID], [ACCESS_BY], [ACCESS_DATE]) VALUES (1, 274, CAST(10.00 AS Decimal(18, 2)), 340, 307, N'Amin', CAST(0xAC340B00 AS Date))
INSERT [dbo].[DEPRICIATION_SETUP] ([DEP_SET_ID], [ACCOUNT_ID], [DEP_PERCENTAGE], [DEBIT_ACC_ID], [CREDIT_ACC_ID], [ACCESS_BY], [ACCESS_DATE]) VALUES (2, 270, CAST(25.00 AS Decimal(18, 2)), 340, 307, N'Amin', CAST(0xAC340B00 AS Date))
INSERT [dbo].[DEPRICIATION_SETUP] ([DEP_SET_ID], [ACCOUNT_ID], [DEP_PERCENTAGE], [DEBIT_ACC_ID], [CREDIT_ACC_ID], [ACCESS_BY], [ACCESS_DATE]) VALUES (3, 283, CAST(10.00 AS Decimal(18, 2)), 340, 307, N'Amin', CAST(0xAC340B00 AS Date))
SET IDENTITY_INSERT [dbo].[DEPRICIATION_SETUP] OFF
/****** Object:  Table [dbo].[DEPOSIT_PAYMENT]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPOSIT_PAYMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [bigint] NOT NULL,
	[DEPOSIT_PAYMENT_DATE] [date] NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[BANK_ACCOUNT_ID] [bigint] NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[BANK_INFO_CHEQUE] [varchar](250) NULL,
	[BANK_CHEQUE] [varchar](50) NULL,
	[BANK_CHEQUE_DATE] [date] NULL,
	[CLEARING_DATE] [date] NULL,
	[STATUS] [varchar](50) NULL,
	[TRANSACTION_TYPE] [varchar](50) NULL,
	[JOURNAL_VOUCHER] [varchar](50) NULL,
	[CANCEL_JVOUCHAR] [varchar](500) NULL,
	[ACCESS_BY] [varchar](50) NULL,
	[ACCESS_DATETIME] [datetime] NULL,
 CONSTRAINT [PK_DEPOSIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DEPOSIT_PAYMENT] ON
INSERT [dbo].[DEPOSIT_PAYMENT] ([ID], [ACCOUNT_ID], [DEPOSIT_PAYMENT_DATE], [AMOUNT], [BANK_ACCOUNT_ID], [DESCRIPTION], [BANK_INFO_CHEQUE], [BANK_CHEQUE], [BANK_CHEQUE_DATE], [CLEARING_DATE], [STATUS], [TRANSACTION_TYPE], [JOURNAL_VOUCHER], [CANCEL_JVOUCHAR], [ACCESS_BY], [ACCESS_DATETIME]) VALUES (1, 263, CAST(0xDE340B00 AS Date), CAST(5000.00 AS Decimal(18, 2)), 380, N'A/C Opening Purpose', N'Cash', N'Cash', CAST(0xDE340B00 AS Date), CAST(0x06350B00 AS Date), N'Clear', N'Deposit', N'JV000026', NULL, N'', CAST(0x00009F8300FE87F7 AS DateTime))
INSERT [dbo].[DEPOSIT_PAYMENT] ([ID], [ACCOUNT_ID], [DEPOSIT_PAYMENT_DATE], [AMOUNT], [BANK_ACCOUNT_ID], [DESCRIPTION], [BANK_INFO_CHEQUE], [BANK_CHEQUE], [BANK_CHEQUE_DATE], [CLEARING_DATE], [STATUS], [TRANSACTION_TYPE], [JOURNAL_VOUCHER], [CANCEL_JVOUCHAR], [ACCESS_BY], [ACCESS_DATETIME]) VALUES (2, 346, CAST(0xE1340B00 AS Date), CAST(65000.00 AS Decimal(18, 2)), 380, N'CH Deposit', N'SCB', N'9880473', CAST(0xE1340B00 AS Date), CAST(0x06350B00 AS Date), N'Clear', N'Deposit', N'JV000027', NULL, N'', CAST(0x00009F8600FF115D AS DateTime))
INSERT [dbo].[DEPOSIT_PAYMENT] ([ID], [ACCOUNT_ID], [DEPOSIT_PAYMENT_DATE], [AMOUNT], [BANK_ACCOUNT_ID], [DESCRIPTION], [BANK_INFO_CHEQUE], [BANK_CHEQUE], [BANK_CHEQUE_DATE], [CLEARING_DATE], [STATUS], [TRANSACTION_TYPE], [JOURNAL_VOUCHER], [CANCEL_JVOUCHAR], [ACCESS_BY], [ACCESS_DATETIME]) VALUES (3, 263, CAST(0xFC340B00 AS Date), CAST(200000.00 AS Decimal(18, 2)), 380, N'Cash deposit in to Bank', N'Cash', N'Cash', CAST(0xFC340B00 AS Date), CAST(0x06350B00 AS Date), N'Clear', N'Deposit', N'JV000042', NULL, N'', CAST(0x00009FA1012EFA2B AS DateTime))
SET IDENTITY_INSERT [dbo].[DEPOSIT_PAYMENT] OFF
/****** Object:  Table [dbo].[CUSTOMER_EMPLOYEE_SETUP]    Script Date: 06/03/2012 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_EMPLOYEE_SETUP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [bigint] NOT NULL,
	[NAME] [varchar](50) NULL,
	[CONTACT_NO] [varchar](50) NULL,
	[CONTACT_PERSON] [varchar](100) NULL,
	[NATIONAL_ID] [varchar](50) NULL,
	[ADDRESS] [varchar](500) NULL,
 CONSTRAINT [PK_CUSTOMER_EMPLOYEE_SETUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_EMPLOYEE_SETUP] ON
INSERT [dbo].[CUSTOMER_EMPLOYEE_SETUP] ([ID], [ACCOUNT_ID], [NAME], [CONTACT_NO], [CONTACT_PERSON], [NATIONAL_ID], [ADDRESS]) VALUES (11, 346, N'Zuellig Pharma', N'01713335696', N'Md. Mashiur Rahman', N'', N'110, Tejgaon Industrial Area Dhaka-1208, Banhladesh. Tel: 8831161, Fax: 9885313')
INSERT [dbo].[CUSTOMER_EMPLOYEE_SETUP] ([ID], [ACCOUNT_ID], [NAME], [CONTACT_NO], [CONTACT_PERSON], [NATIONAL_ID], [ADDRESS]) VALUES (12, 347, N'Union Development & Technologies Ltd.', N'01817043710', N'Md. Rashdul Basher', N'', N'House # 5, Road # 10, Dhanmondi, Dhaka-1205. Tel: 8129786, 8158692, Fax: 8152227')
INSERT [dbo].[CUSTOMER_EMPLOYEE_SETUP] ([ID], [ACCOUNT_ID], [NAME], [CONTACT_NO], [CONTACT_PERSON], [NATIONAL_ID], [ADDRESS]) VALUES (13, 348, N'MEGHNA GROUP OF INDUSTRIES', N'01712385828, 01730703764', N'Sheikh Md. Abdul Hannan', N'', N'FRESH Cottage, House # 48, Garib-E-Newaz Avenue, Sector-13, Dhaka-1230. Tel: 7912703, 7912718. Fax: 7912381, 7912382')
SET IDENTITY_INSERT [dbo].[CUSTOMER_EMPLOYEE_SETUP] OFF
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_DEPRICIATION]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <23 January, 2012>
-- Description:	<GET ALL DATA FROM DEPRICIATION TABLE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_ALL_DEPRICIATION]


AS
 BEGIN
    SET NOCOUNT ON;
    DECLARE @STARTDATE DATE,@ENDDATE DATE
      SET @STARTDATE = (SELECT F_YEAR_START_DATE FROM FISCAL_YEAR WHERE F_YEAR_STATUS = 'Active' )
      SET @ENDDATE = (SELECT F_YEAR_END_DATE FROM FISCAL_YEAR WHERE F_YEAR_STATUS = 'Active' )
    
SELECT ACCESS_BY ,
       ACCESS_DATE ,
       ACCOUNT_ID ,
       ORIGINAL_COST ,
       DEP_VALUE ,
       NEW_ORIGINAL_COST ,
       JOURNAL_ID
        FROM DEPRICIATION 

 WHERE ACCESS_DATE BETWEEN @STARTDATE AND @ENDDATE 
 
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_DEPRICIATION]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <26 January, 2012>
-- Description:	<DELETE ALL DATA FROM DEPRICIATION TABLE>
-- ==============================================
 CREATE PROCEDURE [dbo].[SP_DELETE_DEPRICIATION]
 
 AS
   BEGIN
     SET NOCOUNT ON;
        DECLARE @STARTDATE DATE,@ENDDATE DATE
      SET @STARTDATE = (SELECT F_YEAR_START_DATE FROM FISCAL_YEAR WHERE F_YEAR_STATUS = 'Active' )
      SET @ENDDATE = (SELECT F_YEAR_END_DATE FROM FISCAL_YEAR WHERE F_YEAR_STATUS = 'Active' )
      
      DELETE  FROM DEPRICIATION
      WHERE ACCESS_DATE BETWEEN @STARTDATE AND @ENDDATE
      
   END
GO
/****** Object:  Table [dbo].[USER]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[USER_PASSWORD] [varchar](50) NULL,
	[USER_GROUP_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON
INSERT [dbo].[USER] ([USER_ID], [USER_NAME], [USER_PASSWORD], [USER_GROUP_ID]) VALUES (1, N'admin', N'Bidha2008', 1)
SET IDENTITY_INSERT [dbo].[USER] OFF
/****** Object:  Table [dbo].[MODULE_PERMISSION]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULE_PERMISSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODULE_NAME] [varchar](50) NULL,
	[USER_GROUP_ID] [bigint] NULL,
 CONSTRAINT [PK_MODULE_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_CHART_OF_ACCOUNT_UPDATE]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHART_OF_ACCOUNT_UPDATE]
 
 @CHART_ACC_ID BIGINT,
 @CHART_ACC_STATUS VARCHAR(10)
 
 AS  
   BEGIN
       SET NOCOUNT ON;
       
       UPDATE CHART_ACCOUNT SET
       [CHART_ACC_STATUS] = @CHART_ACC_STATUS
       WHERE [CHART_ACC_ID] =@CHART_ACC_ID;
       
       UPDATE CHART_ACCOUNT SET
       [CHART_ACC_STATUS] = @CHART_ACC_STATUS
       WHERE [CHART_ACC_PARENT_ID] =@CHART_ACC_ID;
        
   END
GO
/****** Object:  StoredProcedure [dbo].[SP_BANK_STATEMENT]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<REFAT>
-- Create date: <09/02/2012>
-- Description:	<THIS PROCEDURE WILL GENERATE Bank STATEMENT RECORD FROM "JOURNAL_DETAILS" TABLE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BANK_STATEMENT]
@accountId BIGINT,
@fromDate DATE,
@toDate DATE
AS
BEGIN
	IF EXISTS(SELECT JV_ID FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @fromDate AND @toDate) AND (JV_ACCOUNT_ID = @accountId))
		BEGIN
			SELECT	CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
			,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
			,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
			,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
			,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
			,JOURNAL_VOUCHAR.ID
			,JV_ID
			,JV_ACCOUNT_ID
			,JV_ACCOUNT_CODE
			,JV_ACCOUNT_NAME
			,JV_DEBIT_AMOUNT
			,JV_CREDIT_AMOUNT
			,JV_DATE
			,JV_NOTES
			,JV_CHEQUE_NO
			,JV_CHEQUE_DATE
			,JV_BANK_REMARK FROM JOURNAL_VOUCHAR join CHART_ACCOUNT on JOURNAL_VOUCHAR.JV_ACCOUNT_ID = CHART_ACCOUNT.CHART_ACC_ID
					WHERE JV_ID in (SELECT JV_ID FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @fromDate AND @toDate) AND (JV_ACCOUNT_ID = @accountId))
					ORDER BY JV_DATE
		END

	--ELSE
	--	BEGIN
	--		SELECT CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
	--		,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
	--		,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
	--		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
	--		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
	--		FROM CHART_ACCOUNT WHERE CHART_ACCOUNT.CHART_ACC_NAME = @accountTitle
	--	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACCOUNT_STATEMENT]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<REFAT>
-- Create date: <19/12/2011>
-- Description:	<THIS PROCEDURE WILL GENERATE GENERAL LEDGER RECORD FROM "JOURNAL_DETAILS" TABLE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ACCOUNT_STATEMENT]
@accountId BIGINT,
@fromDate DATE,
@toDate DATE
AS
BEGIN
	IF EXISTS(SELECT JV_ID FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @fromDate AND @toDate) AND (JV_ACCOUNT_ID = @accountId))
		BEGIN
			SELECT	CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
			,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
			,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
			,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
			,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
			,JOURNAL_VOUCHAR.ID
			,JV_ID
			,JV_ACCOUNT_ID
			,JV_ACCOUNT_CODE
			,JV_ACCOUNT_NAME
			,JV_DEBIT_AMOUNT
			,JV_CREDIT_AMOUNT
			,JV_DATE
			,JV_NOTES
			,JV_CHEQUE_NO
			,JV_CHEQUE_DATE
			,JV_BANK_REMARK FROM JOURNAL_VOUCHAR join CHART_ACCOUNT on JOURNAL_VOUCHAR.JV_ACCOUNT_ID = CHART_ACCOUNT.CHART_ACC_ID
					WHERE JV_ID in (SELECT JV_ID FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @fromDate AND @toDate) AND (JV_ACCOUNT_ID = @accountId))
					ORDER BY JV_DATE
		END

	--ELSE
	--	BEGIN
	--		SELECT CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
	--		,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
	--		,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
	--		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
	--		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
	--		FROM CHART_ACCOUNT WHERE CHART_ACCOUNT.CHART_ACC_NAME = @accountTitle
	--	END
END
GO
/****** Object:  Table [dbo].[ROLEWISE_MENU]    Script Date: 06/03/2012 18:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLEWISE_MENU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODULE_ID] [int] NULL,
	[USER_GROUP_ID] [bigint] NOT NULL,
	[PARENT_MENU_NAME] [varchar](50) NULL,
	[PARENT_MENU_CONTENT] [varchar](100) NULL,
	[CHILD_MENU_NAME] [varchar](50) NULL,
	[CHILD_MENU_CONTENT] [varchar](100) NULL,
 CONSTRAINT [PK_ROLEWISE_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_TRIAL_BALANCE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <20/12/2011>
-- Description:	<THIS PROCEDURE IS USING FOR DISPLAY TRIAL BALANCE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TRIAL_BALANCE]
(@FiscalStartDate DATE,@pJD_DATE DATE)
WITH 
EXECUTE AS CALLER
AS
BEGIN
	SET NOCOUNT ON;
Select cc.ACCOUNT_TITLE,cc.ACCOUNT_ID,cc.CODE,SUM(cc.Debit) as DEBIT,SUM(cc.Credit) as CREDIT from
(SELECT JV_ACCOUNT_NAME as ACCOUNT_TITLE, JV_ACCOUNT_ID as ACCOUNT_ID,JV_ACCOUNT_CODE as CODE, SUM(JV_DEBIT_AMOUNT) as Debit, SUM(JV_CREDIT_AMOUNT) as Credit
FROM JOURNAL_VOUCHAR --jv
where JV_DATE BETWEEN @FiscalStartDate AND @pJD_DATE
GROUP BY JV_ACCOUNT_NAME,JV_ACCOUNT_ID,JV_ACCOUNT_CODE
UNION
SELECT  CHART_ACC_NAME as ACCOUNT_TITLE,CHART_ACC_ID as ACCOUNT_ID,CHART_ACC_CODE as CODE, SUM(CHART_ACC_OPENING_BALANCE_DR) as Debit, SUM(CHART_ACC_OPENING_BALANCE_CR) as Credit
FROM CHART_ACCOUNT  --COA
WHERE CHART_ACC_HEADER='No'
GROUP BY CHART_ACC_NAME,CHART_ACC_ID,CHART_ACC_CODE ) cc
group by ACCOUNT_TITLE,ACCOUNT_ID,CODE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_PAYMENT_VOUCHER_FOR_DAY_BOOK_BY_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL CREDIT VOUCHER>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_PAYMENT_VOUCHER_FOR_DAY_BOOK_BY_DATE]

@Journal_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_Credit int
		BEGIN
			SET @total_Credit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND (JV_BANK_REMARK='Cheque Payment' OR JV_BANK_REMARK='Cash Payment'));
		END
  SELECT @total_Credit AS TOTAL_CREDIT
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_PAYMENT_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL PAYMENT VOUCHER BETWEEN DATE RANGE>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_PAYMENT_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]

@From_Date DATE,
@To_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_Credit int
		BEGIN
			SET @total_Credit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND (JV_BANK_REMARK='Cheque Payment' OR JV_BANK_REMARK='Cash Payment'));
		END
  SELECT @total_Credit AS TOTAL_CREDIT
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_JOURNAL_VOUCHER_FOR_DAY_BOOK_BY_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL JOURNAL  VOUCHER>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_JOURNAL_VOUCHER_FOR_DAY_BOOK_BY_DATE]

@Journal_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_journal int
		BEGIN
			SET @total_journal =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND JV_BANK_REMARK='Journal');			
		END
  SELECT @total_journal AS TOTAL_JOURNAL
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_JOURNAL_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL JOURNAL VOUCHER BETWEEN DATE RANGE>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_JOURNAL_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]

@From_Date DATE,
@To_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_journal int
		BEGIN
			SET @total_journal =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND JV_BANK_REMARK='Journal');
		END
  SELECT @total_journal AS TOTAL_JOURNAL
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_DEPOSIT_VOUCHER_FOR_DAY_BOOK_BY_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL DEBIT  VOUCHER>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_DEPOSIT_VOUCHER_FOR_DAY_BOOK_BY_DATE]

@Journal_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_Debit int
		BEGIN
			SET @total_Debit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND (JV_BANK_REMARK='Cheque Deposit' OR JV_BANK_REMARK='Cash Deposit'));			
		END
  SELECT @total_Debit AS TOTAL_DEBIT
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_DEPOSIT_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL DEPOSIT VOUCHER BETWEEN DATE RANGE>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_DEPOSIT_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]

@From_Date DATE,
@To_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_Debit int
		BEGIN
			SET @total_Debit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND (JV_BANK_REMARK='Cheque Deposit' OR JV_BANK_REMARK='Cash Deposit'));			
			
		END
  SELECT @total_Debit AS TOTAL_DEBIT
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BY_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL CONTRA VOUCHER>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BY_DATE]

@Journal_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_contra int
		BEGIN
			SET @total_contra =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND JV_BANK_REMARK='Contra Voucher');
		END
  SELECT @total_contra AS TOTAL_CONTRA
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL CONTRA VOUCHER BETWEEN DATE RANGE>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TOTAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]

@From_Date DATE,
@To_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_contra int
		BEGIN
			SET @total_contra =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND JV_BANK_REMARK='Contra Voucher');
		END
  SELECT @total_contra AS TOTAL_CONTRA
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECEIVE_PAYMENT]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REFAT(10-05-2012)
CREATE PROCEDURE [dbo].[SP_RECEIVE_PAYMENT]
@pFromDate DATE,
@pToDate DATE,
@pParentType VARCHAR(50)
AS
BEGIN
	SELECT JV_ACCOUNT_ID,SUM(JV_DEBIT_AMOUNT) AS Debit,SUM(JV_CREDIT_AMOUNT) AS Credit FROM JOURNAL_VOUCHAR
		WHERE JV_ACCOUNT_ID IN (SELECT CHART_ACC_ID FROM CHART_ACCOUNT WHERE CHART_ACC_PARENT_TYPE=@pParentType)
		AND(JV_DATE BETWEEN @pFromDate AND @pToDate) GROUP BY JV_ACCOUNT_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JOURNAL_VOUCHAR_LAST_ID]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <11-12-2011>
-- Description:	<Generate Last Journal-ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_JOURNAL_VOUCHAR_LAST_ID]
AS
BEGIN
	SET NOCOUNT ON
	DECLARE
		@vJV_ID VARCHAR(20),
		@countRow INT	
	SELECT @countRow=COUNT(*) FROM JOURNAL_VOUCHAR 	
	IF(@countRow<>0)		
		BEGIN
			DECLARE @num int
			SELECT @num=(max(CONVERT(int, SUBSTRING( JV_ID,3,8)))+1)  FROM JOURNAL_VOUCHAR
			SET @vJV_ID=(SELECT Distinct('JV'+RIGHT ('000000'+ CAST(@num as varchar), 6))  FROM JOURNAL_VOUCHAR)
		END
	ELSE
		SET	@vJV_ID='JV000001'
	SELECT @vJV_ID AS JOURNAL_ID	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_JOURNAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BY_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL JOURNAL AND CONTRA VOUCHER>
-- =============================================

CREATE PROCEDURE [dbo].[SP_JOURNAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BY_DATE]

@Journal_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_journal int,
   @total_contra int
		BEGIN
			SET @total_journal =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND JV_BANK_REMARK='Journal');			
			SET @total_contra =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND JV_BANK_REMARK='Contra Voucher');
		END
  SELECT @total_journal AS TOTAL_JOURNAL,@total_contra AS TOTAL_CONTRA
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_JOURNAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL JOURNAL AND CONTRA VOUCHER BETWEEN DATE RANGE>
-- =============================================

CREATE PROCEDURE [dbo].[SP_JOURNAL_CONTRA_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]

@From_Date DATE,
@To_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_journal int,
   @total_contra int
		BEGIN
			SET @total_journal =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND JV_BANK_REMARK='Journal');			
			SET @total_contra =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND JV_BANK_REMARK='Contra Voucher');
		END
  SELECT @total_journal AS TOTAL_JOURNAL,@total_contra AS TOTAL_CONTRA
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_INCOME_STATEMENT_FINAL]    Script Date: 06/03/2012 18:09:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <22/12/2011>
-- Description:	<THIS PROCEDURE WILL GENERATE INCOME RECORD FROM "JOURNAL_VOUCHAR" AND "CHART_ACCOUNT" TABLE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INCOME_STATEMENT_FINAL]
@FisStartDate DATE,
@pJD_DATE DATE
AS
DECLARE @FISCALYEAREND DATE

SELECT cc.ACCOUNT_TITLE,cc.ACC_ID,cc.ACC_CODE,SUM(cc.Debit) as DEBIT,SUM(cc.Credit) as CREDIT,dd.CHART_ACC_PARENT_TYPE--,dd.COA_TYPE,dd.COA_SUB_ACCOUNT
FROM
	   (SELECT JV_ACCOUNT_NAME as ACCOUNT_TITLE, JV_ACCOUNT_ID as ACC_ID,JV_ACCOUNT_CODE as ACC_CODE, SUM(JV_DEBIT_AMOUNT) as Debit, SUM(JV_CREDIT_AMOUNT) as Credit
		FROM JOURNAL_VOUCHAR --jv
		where JV_DATE BETWEEN @FisStartDate AND @pJD_DATE
		GROUP BY JV_ACCOUNT_NAME,JV_ACCOUNT_ID,JV_ACCOUNT_CODE
	UNION  
		SELECT  CHART_ACC_NAME as ACCOUNT_TITLE,CHART_ACC_ID as ACC_ID,CHART_ACC_CODE as ACC_CODE,
		SUM(CHART_ACC_OPENING_BALANCE_DR) as Debit, SUM(CHART_ACC_OPENING_BALANCE_CR) as Credit
		FROM CHART_ACCOUNT --COA
		GROUP BY CHART_ACC_NAME,CHART_ACC_ID,CHART_ACC_CODE ) cc

JOIN	
	(SELECT  CHART_ACC_NAME,CHART_ACC_CODE,CHART_ACC_PARENT_TYPE
	 FROM CHART_ACCOUNT 
     GROUP BY CHART_ACC_NAME,CHART_ACC_CODE,CHART_ACC_PARENT_TYPE)dd
ON cc.ACCOUNT_TITLE=dd.CHART_ACC_NAME
GROUP BY cc.ACCOUNT_TITLE,cc.ACC_ID,cc.ACC_CODE,dd.CHART_ACC_PARENT_TYPE
GO
/****** Object:  StoredProcedure [dbo].[SP_HEADER_STATEMENT]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_HEADER_STATEMENT]
@accountId BIGINT
AS
BEGIN
	IF EXISTS(SELECT JV_ID FROM JOURNAL_VOUCHAR WHERE (JV_ACCOUNT_ID = @accountId))
		BEGIN
			SELECT	CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
			,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
			,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
			,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
			,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
			,JOURNAL_VOUCHAR.ID
			,JV_ID
			,JV_ACCOUNT_ID
			,JV_ACCOUNT_CODE
			,JV_ACCOUNT_NAME
			,JV_DEBIT_AMOUNT
			,JV_CREDIT_AMOUNT
			,JV_DATE
			,JV_NOTES
			,JV_CHEQUE_NO
			,JV_CHEQUE_DATE
			,JV_BANK_REMARK FROM JOURNAL_VOUCHAR join CHART_ACCOUNT on JOURNAL_VOUCHAR.JV_ACCOUNT_ID = CHART_ACCOUNT.CHART_ACC_ID
					WHERE JV_ID in (SELECT JV_ID FROM JOURNAL_VOUCHAR WHERE (JV_ACCOUNT_ID = @accountId))
					ORDER BY JV_DATE
		END
--Modified By Refat(19 th feb'2012)
	--ELSE
	--	BEGIN
	--		SELECT CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
	--		,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
	--		,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
	--		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
	--		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
	--		FROM CHART_ACCOUNT WHERE CHART_ACCOUNT.CHART_ACC_NAME = @accountTitle
	--	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HEADER_ACC_NAME]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <29 January, 2012>
-- Description:	<GET PARENT ACCOUNT NAME WHICH R ALREADY MAKE TRANSACTION>
-- =============================================
CREATE PROCEDURE [dbo].[SP_HEADER_ACC_NAME]
AS
 BEGIN
   SET NOCOUNT ON;
   
   SELECT DISTINCT JV.JV_ACCOUNT_NAME,JV.JV_ACCOUNT_ID FROM (SELECT CHART_ACC_NAME,CHART_ACC_ID FROM CHART_ACCOUNT WHERE CHART_ACC_HEADER='Yes') CA 
     JOIN JOURNAL_VOUCHAR JV ON 
     CA.CHART_ACC_ID=JV.JV_ACCOUNT_ID 
     
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_NET_INCOME_LOSS]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Refat>
-- Create date: <11 January, 2012>
-- Description:	<Get Net Income Or Loss For Balance Sheet>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_NET_INCOME_LOSS]
	@FISCALYEAR DATE,
	@pJD_DATE DATE
AS
BEGIN
	SET NOCOUNT ON;	

	Select SUM(t.CREDIT)-Sum(t.DEBIT) AS NET_INCOME_LOSS from
	(Select SUM(cc.Debit) as DEBIT,SUM(cc.Credit) as CREDIT FROM
		(SELECT JV_ACCOUNT_ID as REF,SUM(JV_DEBIT_AMOUNT) as Debit, SUM(JV_CREDIT_AMOUNT) as Credit FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @FISCALYEAR AND @pJD_DATE) GROUP BY JV_ACCOUNT_ID		
			UNION
		SELECT CHART_ACC_ID as REF,CHART_ACC_OPENING_BALANCE_DR as Debit, CHART_ACC_OPENING_BALANCE_CR as Credit FROM CHART_ACCOUNT
		)cc  
	join CHART_ACCOUNT as CT on cc.REF=CT.CHART_ACC_ID where CT.CHART_ACC_PARENT_TYPE = 'REVENUE' or CT.CHART_ACC_PARENT_TYPE = 'EXPENSE'
	) t
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_JVID_WITHOUT_BANK]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_JVID_WITHOUT_BANK]
AS
BEGIN
	select JV_ID from (select * from JOURNAL_VOUCHAR where JV_BANK_REMARK='Journal') journal
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DEPRICIATION_DATE_WISE]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <30 January, 2012>
-- Description:	<GET ALL DATA FROM DEPRICIATION TABLE IN FISCAL YEAR DATE WISE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_DEPRICIATION_DATE_WISE]
@STARTDATE DATE,
@ENDDATE DATE

AS
 BEGIN
    SET NOCOUNT ON;
    
  SELECT DEPRICIATION.ACCESS_BY ,
         DEPRICIATION.ACCESS_DATE ,
         DEPRICIATION.ACCOUNT_ID ,
         DEPRICIATION_SETUP.DEBIT_ACC_ID,
         ORIGINAL_COST ,
         DEP_VALUE ,
         NEW_ORIGINAL_COST ,
        JOURNAL_ID,DEP_PERCENTAGE, CHART_ACC_NAME AS ACCOUNT_NAME
        FROM DEPRICIATION JOIN DEPRICIATION_SETUP ON DEPRICIATION.ACCOUNT_ID = DEPRICIATION_SETUP.ACCOUNT_ID
                          JOIN CHART_ACCOUNT ON  DEPRICIATION.ACCOUNT_ID = CHART_ACCOUNT.CHART_ACC_ID    

        WHERE DEPRICIATION.ACCESS_DATE BETWEEN @STARTDATE AND @ENDDATE 
 
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DEPRICIATION_ALL]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <30 January, 2012>
-- Description:	<GET ALL DATA FROM DEPRICIATION TABLE>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_DEPRICIATION_ALL]

AS
 BEGIN
    SET NOCOUNT ON;
    
  SELECT DEPRICIATION.ACCESS_BY ,
         DEPRICIATION.ACCESS_DATE ,
         DEPRICIATION.ACCOUNT_ID ,
         ORIGINAL_COST ,
         DEP_VALUE ,
         NEW_ORIGINAL_COST ,
        JOURNAL_ID,DEP_PERCENTAGE, CHART_ACC_NAME AS ACCOUNT_NAME
        FROM DEPRICIATION JOIN DEPRICIATION_SETUP ON DEPRICIATION.ACCOUNT_ID = DEPRICIATION_SETUP.ACCOUNT_ID
                          JOIN CHART_ACCOUNT ON  DEPRICIATION.ACCOUNT_ID = CHART_ACCOUNT.CHART_ACC_ID    
 
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEBIT_CREDIT_VOUCHER_FOR_DAY_BOOK_BY_DATE]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL DEBIT AND CREDIT VOUCHER>
-- =============================================

CREATE PROCEDURE [dbo].[SP_DEBIT_CREDIT_VOUCHER_FOR_DAY_BOOK_BY_DATE]

@Journal_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_Debit int,
   @total_Credit int
		BEGIN
			SET @total_Debit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND (JV_BANK_REMARK='Cheque Deposit' OR JV_BANK_REMARK='Cash Deposit'));			
			SET @total_Credit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE JV_DATE=@Journal_Date  AND (JV_BANK_REMARK='Cheque Payment' OR JV_BANK_REMARK='Cash Payment'));
		END
  SELECT @total_Debit AS TOTAL_DEBIT,@total_Credit AS TOTAL_CREDIT
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEBIT_CREDIT_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]    Script Date: 06/03/2012 18:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <17-04-2011>
-- Description:	<COUNT TOTAL DEBIT AND CREDIT VOUCHER BETWEEN DATE RANGE>
-- =============================================

CREATE PROCEDURE [dbo].[SP_DEBIT_CREDIT_VOUCHER_FOR_DAY_BOOK_BETWEEN_DATE]

@From_Date DATE,
@To_Date DATE

AS
  BEGIN
  SET NOCOUNT ON;
   Declare
   @total_Debit int,
   @total_Credit int
		BEGIN
			SET @total_Debit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND JV_BANK_REMARK='Cheque Deposit' OR JV_BANK_REMARK='Cash Deposit');			
			SET @total_Credit =(SELECT COUNT(DISTINCT JV_ID) FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @From_Date AND @To_Date) AND JV_BANK_REMARK='Cheque Payment' OR JV_BANK_REMARK='Cash Payment');
		END
  SELECT @total_Debit AS TOTAL_DEBIT,@total_Credit AS TOTAL_CREDIT
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_CURRENT_DEBIT_CREDIT_DEPRICIATION]    Script Date: 06/03/2012 18:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <25 January, 2012>
-- Description:	<to know about current credit and debit amount of a particular account>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CURRENT_DEBIT_CREDIT_DEPRICIATION]
@ACC_ID BIGINT
AS
BEGIN	
	Select SUM(cc.Debit) as DEBIT,SUM(cc.Credit) as CREDIT FROM
		(SELECT SUM(JV_DEBIT_AMOUNT) as Debit, SUM(JV_CREDIT_AMOUNT) as Credit FROM JOURNAL_VOUCHAR WHERE JV_ACCOUNT_ID=@ACC_ID
			 UNION
		SELECT  CHART_ACC_OPENING_BALANCE_DR as Debit, CHART_ACC_OPENING_BALANCE_CR as Credit FROM CHART_ACCOUNT WHERE CHART_ACC_ID=@ACC_ID) cc  
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CURRENT_DEBIT_CREDIT]    Script Date: 06/03/2012 18:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Refat>
-- Create date: <11 January, 2012>
-- Description:	<to know about current credit and debit amount of a particular account>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CURRENT_DEBIT_CREDIT]
@ACC_ID BIGINT,
@FISCALYEAR DATE,
@pJD_DATE DATE
AS
BEGIN	
	Select SUM(cc.Debit) as DEBIT,SUM(cc.Credit) as CREDIT FROM
		(SELECT SUM(JV_DEBIT_AMOUNT) as Debit, SUM(JV_CREDIT_AMOUNT) as Credit FROM JOURNAL_VOUCHAR WHERE (JV_DATE BETWEEN @FISCALYEAR AND @pJD_DATE) AND JV_ACCOUNT_ID=@ACC_ID
			 UNION
		SELECT  CHART_ACC_OPENING_BALANCE_DR as Debit, CHART_ACC_OPENING_BALANCE_CR as Credit FROM CHART_ACCOUNT WHERE CHART_ACC_ID=@ACC_ID) cc  
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CURRENT_BALANCE_REVENUE_EXPENSE]    Script Date: 06/03/2012 18:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<REFAT
-- Create date: <08/05/2012>
-- Description:	<THIS PROCEDURE WILL GENERATE GENERAL LEDGER RECORD FROM "JOURNAL_DETAILS" TABLE>
--Modify:REFAT(18-12-2011)
-- =============================================
CREATE PROCEDURE [dbo].[SP_CURRENT_BALANCE_REVENUE_EXPENSE]
@pJV_ACCOUNT_ID BIGINT,
@pDateFrom DATE,
@pDateTo DATE

AS
BEGIN
If exists(
SELECT	 CHART_ACCOUNT.CHART_ACC_NAME
		,CHART_ACCOUNT.CHART_ACC_ID
		,CHART_ACCOUNT.CHART_ACC_CODE
		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
		,JV_ID
		,JV_ACCOUNT_NAME
		,JV_DEBIT_AMOUNT
		,JV_CREDIT_AMOUNT
		,JV_DATE
		,JV_NOTES
  FROM JOURNAL_VOUCHAR,CHART_ACCOUNT 
		
		
WHERE (JV_DATE>=@pDateFrom AND JV_DATE < @pDateTo) 
		AND CHART_ACCOUNT.CHART_ACC_ID = @pJV_ACCOUNT_ID
		AND JV_ACCOUNT_ID = @pJV_ACCOUNT_ID)
SELECT	 CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
		,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
		,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
		,JV_ID
		,JV_ACCOUNT_NAME
		,JV_DEBIT_AMOUNT
		,JV_CREDIT_AMOUNT
		,JV_DATE
		,JV_NOTES
  FROM JOURNAL_VOUCHAR,CHART_ACCOUNT 
		
		
WHERE (JV_DATE>=@pDateFrom AND JV_DATE < @pDateTo) 
		AND CHART_ACCOUNT.CHART_ACC_ID = @pJV_ACCOUNT_ID 
		and JV_ACCOUNT_ID = @pJV_ACCOUNT_ID ORDER BY JV_ACCOUNT_NAME
ELSE
select 
		 CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
		,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
		,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
from CHART_ACCOUNT where CHART_ACCOUNT.CHART_ACC_ID = @pJV_ACCOUNT_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CURRENT_BALANCE]    Script Date: 06/03/2012 18:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<AMIN>
-- Create date: <13/12/2011>
-- Description:	<THIS PROCEDURE WILL GENERATE GENERAL LEDGER RECORD FROM "JOURNAL_DETAILS" TABLE>
--Modify:REFAT(18-12-2011)
-- =============================================
CREATE PROCEDURE [dbo].[SP_CURRENT_BALANCE]
@pJV_ACCOUNT_ID BIGINT,
@pDateTo DATE
AS
BEGIN
If exists(
SELECT	 CHART_ACCOUNT.CHART_ACC_NAME
		,CHART_ACCOUNT.CHART_ACC_ID
		,CHART_ACCOUNT.CHART_ACC_CODE
		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
		,JV_ID
		,JV_ACCOUNT_NAME
		,JV_DEBIT_AMOUNT
		,JV_CREDIT_AMOUNT
		,JV_DATE
		,JV_NOTES
  FROM JOURNAL_VOUCHAR,CHART_ACCOUNT 
		
		
WHERE (JV_DATE <= @pDateTo) 
		AND CHART_ACCOUNT.CHART_ACC_ID = @pJV_ACCOUNT_ID
		AND JV_ACCOUNT_ID = @pJV_ACCOUNT_ID)
SELECT	 CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
		,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
		,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
		,JV_ID
		,JV_ACCOUNT_NAME
		,JV_DEBIT_AMOUNT
		,JV_CREDIT_AMOUNT
		,JV_DATE
		,JV_NOTES
  FROM JOURNAL_VOUCHAR,CHART_ACCOUNT 
		
		
WHERE (JV_DATE <= @pDateTo) 
		AND CHART_ACCOUNT.CHART_ACC_ID = @pJV_ACCOUNT_ID 
		and JV_ACCOUNT_ID = @pJV_ACCOUNT_ID ORDER BY JV_ACCOUNT_NAME
ELSE
select 
		 CHART_ACCOUNT.CHART_ACC_NAME as COA_NAME
		,CHART_ACCOUNT.CHART_ACC_ID as COA_ID
		,CHART_ACCOUNT.CHART_ACC_CODE as COA_CODE
		,'OP_DR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_DR
		,'OP_CR'=CHART_ACCOUNT.CHART_ACC_OPENING_BALANCE_CR
from CHART_ACCOUNT where CHART_ACCOUNT.CHART_ACC_ID = @pJV_ACCOUNT_ID
END
GO
/****** Object:  ForeignKey [FK_MEMBER_ASSIGN_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[MEMBER_ASSIGN]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_ASSIGN_CHART_ACCOUNT] FOREIGN KEY([ACC_ID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[MEMBER_ASSIGN] CHECK CONSTRAINT [FK_MEMBER_ASSIGN_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_MEMBER_ACC_TYPE_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[MEMBER_ACC_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_MEMBER_ACC_TYPE_CHART_ACCOUNT] FOREIGN KEY([MEMBER_ACCOUNT_TYPE_ID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[MEMBER_ACC_TYPE] CHECK CONSTRAINT [FK_MEMBER_ACC_TYPE_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_JOURNAL_VOUCHAR_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[JOURNAL_VOUCHAR]  WITH CHECK ADD  CONSTRAINT [FK_JOURNAL_VOUCHAR_CHART_ACCOUNT] FOREIGN KEY([JV_ACCOUNT_ID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[JOURNAL_VOUCHAR] CHECK CONSTRAINT [FK_JOURNAL_VOUCHAR_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_INCOME_SHEET_CONFIGURE_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[INCOME_SHEET_CONFIGURE]  WITH CHECK ADD  CONSTRAINT [FK_INCOME_SHEET_CONFIGURE_CHART_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[INCOME_SHEET_CONFIGURE] CHECK CONSTRAINT [FK_INCOME_SHEET_CONFIGURE_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_BALANCE_SHEET_CONFIGURE_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[BALANCE_SHEET_CONFIGURE]  WITH CHECK ADD  CONSTRAINT [FK_BALANCE_SHEET_CONFIGURE_CHART_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[BALANCE_SHEET_CONFIGURE] CHECK CONSTRAINT [FK_BALANCE_SHEET_CONFIGURE_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_DEPRICIATION_SETUP_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[DEPRICIATION_SETUP]  WITH CHECK ADD  CONSTRAINT [FK_DEPRICIATION_SETUP_CHART_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[DEPRICIATION_SETUP] CHECK CONSTRAINT [FK_DEPRICIATION_SETUP_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_DEPOSIT_PAYMENT_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[DEPOSIT_PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPOSIT_PAYMENT_CHART_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[DEPOSIT_PAYMENT] CHECK CONSTRAINT [FK_DEPOSIT_PAYMENT_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_EMPLOYEE_SETUP_CHART_ACCOUNT]    Script Date: 06/03/2012 18:09:05 ******/
ALTER TABLE [dbo].[CUSTOMER_EMPLOYEE_SETUP]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_EMPLOYEE_SETUP_CHART_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[CHART_ACCOUNT] ([CHART_ACC_ID])
GO
ALTER TABLE [dbo].[CUSTOMER_EMPLOYEE_SETUP] CHECK CONSTRAINT [FK_CUSTOMER_EMPLOYEE_SETUP_CHART_ACCOUNT]
GO
/****** Object:  ForeignKey [FK_USER_USER_GROUP]    Script Date: 06/03/2012 18:09:22 ******/
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_USER_GROUP] FOREIGN KEY([USER_GROUP_ID])
REFERENCES [dbo].[USER_GROUP] ([GROUP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_USER_GROUP]
GO
/****** Object:  ForeignKey [FK_MODULE_PERMISSION_USER_GROUP]    Script Date: 06/03/2012 18:09:22 ******/
ALTER TABLE [dbo].[MODULE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_MODULE_PERMISSION_USER_GROUP] FOREIGN KEY([USER_GROUP_ID])
REFERENCES [dbo].[USER_GROUP] ([GROUP_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MODULE_PERMISSION] CHECK CONSTRAINT [FK_MODULE_PERMISSION_USER_GROUP]
GO
/****** Object:  ForeignKey [FK_ROLEWISE_MENU_MODULE_PERMISSION]    Script Date: 06/03/2012 18:09:22 ******/
ALTER TABLE [dbo].[ROLEWISE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_ROLEWISE_MENU_MODULE_PERMISSION] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[MODULE_PERMISSION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROLEWISE_MENU] CHECK CONSTRAINT [FK_ROLEWISE_MENU_MODULE_PERMISSION]
GO
/****** Object:  ForeignKey [FK_ROLEWISE_MENU_USER_GROUP]    Script Date: 06/03/2012 18:09:22 ******/
ALTER TABLE [dbo].[ROLEWISE_MENU]  WITH CHECK ADD  CONSTRAINT [FK_ROLEWISE_MENU_USER_GROUP] FOREIGN KEY([USER_GROUP_ID])
REFERENCES [dbo].[USER_GROUP] ([GROUP_ID])
GO
ALTER TABLE [dbo].[ROLEWISE_MENU] CHECK CONSTRAINT [FK_ROLEWISE_MENU_USER_GROUP]
GO
