<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="DBConnString"
   connectionString="Data Source=ATIOUR-LAPTOP;Initial Catalog=ACCDB;Persist Security Info=True;User ID=sa;Password=admin"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>